<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>229746982018-2hgk7fcr34m0306laimr5ljn0n0f6vvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229746982018-2hgk7fcr34m0306laimr5ljn0n0f6vvu</string>
	<key>API_KEY</key>
	<string>AIzaSyAg89_PjrYY467t1wuU3xLZProO7OzZRqg</string>
	<key>GCM_SENDER_ID</key>
	<string>229746982018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookYourTable.BookYourTable</string>
	<key>PROJECT_ID</key>
	<string>bookyourtable-32e90</string>
	<key>STORAGE_BUCKET</key>
	<string>bookyourtable-32e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229746982018:ios:80a5b05b1bb43ca6</string>
	<key>DATABASE_URL</key>
	<string>https://bookyourtable-32e90.firebaseio.com</string>
</dict>
</plist>